button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px;
}

.input {
    margin: 10px auto;
}

.calculator-container {
    text-align: center;
}

.button-container {
    padding: 5px auto;
}